body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-width: 100vw;
    min-height: 100vh;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.bg-green {
    background-color: rgb(30,203,08);
    transition-duration: .2s;
}

    .bg-green:hover {
        background-color: rgb(20,193,05);
    }

.text-green {
    color: rgb(30,203,08);
    transition-duration: .2s;
}

    .text-green:hover {
        color: rgb(20,183,05);
    }

.main{
    min-height:84vh;
}